.page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1230px;
  padding: 70px 15px;
  margin: 0 auto;
  min-height: 100vh;

  position: relative;

  @media (max-width: 525px) {
    padding: 50px 15px 15px;
  }
}

.select {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 10;
}